<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toriloshop</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav navbar-expand-lg navbar-dark bg-info">
      <div class="container">
        <a class="navbar-brand text-white fs-4" href="/">Toriloshop</a>
        <div class="navbar-nav ms-3">
          <a class="nav-link px-2 text-white" href="/">Home</a>
          <a class="nav-link px-2 text-white" href="/products/">Products</a>
          <a class="nav-link px-2 text-white" href="/categories">Categories</a>
          <a class="nav-link px-2 text-white" href="/about">About</a>
        </div>
      </div>
    </nav>

    <div class="container mt-4">{% block content %} {% endblock %}</div>

    <footer class="bg-info text-white text-center py-3 mt-5">
      <p>© 2026 Toriloshop. All right reserved.</p>
    </footer>
  </body>
</html>
